{
  "presets": ["es2015","es2017","react"],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel",
    ["styled-components", {"minify": false}]
  ]
}
